{% extends "admin/change_list.html" %}
{% load i18n %}

{% block result_list %}
  <div id="media-grid"
       class="media-grid"
       data-load-more-url="{% url 'admin:'|add:cl.opts.app_label|add:'_'|add:cl.opts.model_name|add:'_load_more' %}"
       data-query-string="{{ cl.get_query_string }}"
       data-next-page="{{ cl.page_num|add:1 }}">
    {% block grid_items %}{% endblock %}
  </div>
  {% if not cl.result_count %}
    <p class="media-grid-empty">{% translate "No items found." %}</p>
  {% elif cl.page_num < cl.paginator.num_pages %}
    <div class="media-grid-loadmore">
      <button type="button" id="media-load-more-btn" class="button">{% translate "Load more" %}</button>
    </div>
  {% endif %}
{% endblock %}

{% block pagination %}{% endblock %}
